@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 10.59%;
		--card: 0 0% 98.43%;
		--card-foreground: 0 0% 10.59%;
		--popover: 210 42.86% 97.25%;
		--popover-foreground: 0 0% 10.59%;
		--primary: 267.35 31.78% 41.96%;
		--primary-foreground: 0 0% 98.04%;
		--secondary: 0 0% 94.12%;
		--secondary-foreground: 0 0% 10.59%;
		--muted: 223.64 57.89% 96.27%;
		--muted-foreground: 0 0% 10.59%;
		--accent: 0 0% 98.04%;
		--accent-foreground: 0 0% 10.59%;
		--destructive: 356.82 79.06% 37.45%;
		--destructive-foreground: 0 0% 98.04%;
		--border: 267.35 31.78% 41.96%;
		--input: 0 0% 37.25%;
		--ring: 267.35 31.78% 41.96%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 265.71 12.73% 10.78%;
		--foreground: 0 0% 98.04%;
		--card: 265.71 9.59% 14.31%;
		--card-foreground: 0 0% 98.04%;
		--popover: 265.71 8.05% 17.06%;
		--popover-foreground: 0 0% 98.04%;
		--primary: 267.17 37.59% 72.35%;
		--primary-foreground: 0 0% 10.59%;
		--secondary: 0 0% 20.78%;
		--secondary-foreground: 0 0% 98.04%;
		--muted: 265.71 6.93% 19.8%;
		--muted-foreground: 0 0% 98.04%;
		--accent: 0 0% 20.78%;
		--accent-foreground: 0 0% 98.04%;
		--destructive: 0 92.41% 69.02%;
		--destructive-foreground: 0 0% 10.59%;
		--border: 267.17 37.59% 72.35%;
		--input: 0 0% 68.24%;
		--ring: 267.17 37.59% 72.35%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
